.main-grid {
    color: #212121;
    stroke-width: 0.4;
    shape-rendering: crispEdges;
    stroke: lightgrey;
}

#page{
    display: block;
    width: 1600px;
    height:950px;
}

#buttons_div{
    position: absolute;
    left: 630px;
    top: 40px;
    bottom: 0px;
}

#return_button, #audio_button, #subtitles_button, #play_button {
    display: inline-block;
    border-radius: 5px;
    border: none; 
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
    margin: 30px;   
}

#play_button{
    margin-left: 200px;
    width: 200px;
    height:100;
    margin: 100px auto;
    margin-left: -50px;
}

#shape_svg{
    margin: 100px auto;
    margin-left: 380px;
}

#sub_div{
    width: 650px;
    height: 250px;
    margin-top: 0px;
    margin-left: 605px;
    overflow-y: auto;  
}

audio { 
    display: none;
}